html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-accent: linear-gradient(28deg, #ffc694, #bc7198, #5776ff);
    --light-gray: #dfdfdf;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 0.9em;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 4.17px;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 1.125em;
    font-weight: 700;
}

h4 {
    font-size: 0.75em;
    letter-spacing: 2px;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
}

.btn-one {
    color: #fff;
    background-color: #000;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-one:hover {
    color: #000;
    background-color: var(--light-gray);
}

.btn-two {
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.btn-two img {
    margin: 1em;
}

.btn-two:hover {
    text-decoration: underline;
}

.btn-three {
    color: #000;
    background-color: #fff;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-three:hover {
    background-color: var(--light-gray);
}

.btn-four {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.btn-four img {
    margin: 1em;
    color: #fff;
    filter: brightness(0) invert(1);
}

.btn-four:hover {
    text-decoration: underline;
}

.btn-two,
.btn-four {
    transform: translate(-0.5em);
}

.btn-two:hover,
.btn-four:hover {
    transform: translate(0.5em);
    transition: 0.5s ease-in;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
}
.nav-logo {
    z-index: 3;
}

.logo:hover {
    opacity: 0.6;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255),
    rgba(0, 0, 0, 0.5));
    transform: translateX(150%);
    transition: transform 0.5s ease;
    z-index: 4;
}

/* nav styling starts here */
nav {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-links a {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.nav-links li a::before {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--main-accent);
    position: absolute;
    bottom: -1.5em;
    transition: transform 0.3s ease;
    opacity: 0;
}

.nav-links li a:hover::before {
    transform: translateY(-1.2em);
    opacity: 1;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 1em;
    z-index: 3;
}

.ham-one,
.ham-two {
    width: 1px;
    height: 1.5em;
    background-color: #000;
    position: absolute;
    top: 1.5em;
    transform: rotate(90deg);
    cursor: pointer;
}

.ham-one {
    margin-top: 0.5em;
}

/* header styling starts here */
header {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    position: relative;
}

.header-img {
    background-image: url(../assets/features/mobile/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18.3em;
}

.header-side {
    height: 0.5em;
    width: 10em;
    position: absolute;
    top: 18.3em;
    left: 2em;
    background: var(--main-accent);
}

.header-story {
    padding: 3em 2em 4em 2em;
}

/* main styling starts here */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4em 2em;
}

main>div {
    padding: 2em;
}

main img {
    padding: 1em;
}

/* article styling starts here */
article {
    background-image: url(../assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18.75em;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3em 2em;
}

article h2 {
    margin: 0;
}

.article-side {
    height: 0.5em;
    width: 10em;
    position: absolute;
    top: 0;
    left: 2em;
    background: var(--main-accent);
}

/* footer styling starts here */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    overflow: hidden;
}

.footer-logo {
    filter: brightness(1) invert(1);
    padding: 2em 0;
}

.footer-link {
    padding: 1em 0 5em 0;
    ;
}

.footer-link li {
    padding: 0.5em;
}

.footer-link a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-link a:hover {
    color: #B0B4B6;
}

.social-media img {
    padding: 0.5em;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.social-media img:hover {
    filter: brightness(1) invert(0);
}

.copyright {
    color: #B0B4B6;
    padding-top: 0.5em;
}



@media (max-width: 767px) {
    .overlay.show {
        display: block;
        z-index: 2;
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 8em 0;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 4em;
        z-index: 3;
        transform: translateX(-120%);
        transition: transform 0.5s ease-in-out;
    }

    .nav-links.show {
        transform: translateY(0);
    }

    .nav-links li {
        margin: 1em;
    }

    .nav-btn {
        position: absolute;
        top: 19em;
        width: 80%;
        padding: 1.5em 0;
        z-index: 3;
        transform: translateY(-620%);
        transition: transform 0.5s ease;
    }

    .nav-btn.show {
        transform: translateX(0);
    }

    .nav-btn:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #CACFD2;
        position: absolute;
        bottom: 6em;
        left: 0;
    }

    .ham-one.show,
    .ham-two.show {
        transition: transform .5s ease-in-out;
        transform-origin: center;
    }

    .ham-one.show {
        transform: rotate(135deg);
        margin: 0;
    }

    .ham-two.show {
        transform: rotate(45deg);
    }
}


@media (min-width: 768px) {
    nav {
        justify-content: space-around;
    }

    .nav-links {
        padding: 0;
    }

    .nav-links li:nth-child(2) {
        padding: 0 2em;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .header-story {
        padding: 0 4em 0 0;
    }

    .header-side {
        width: 9em;
        left: -4.3em;
        top: 15.5em;
        transform: rotate(90deg);
    }

    .header-img {
        background-image: url(../assets/features/tablet/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        grid-row: 1;
        grid-column: 2 / 3;
        width: 100%;
        height: 30.6em;
    }

    .header-story {
        margin: auto;
        width: 30em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    .upload img {
        padding-bottom: 3.5em;
    }

    article {
        background-image: url(../assets/shared/tablet/bg-beta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 17.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .article-side {
        position: absolute;
        top: 8.5em;
        left: -8.6em;
        transform: rotate(90deg);
        width: 17.5em;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    .footer-link {
        display: flex;
        grid-row: 2;
        grid-column: 1 / 2;
        padding: 0 0 1em 0;
    }

    .footer-logo {
        grid-row: 1;
        grid-column: 1 / 2;
        justify-self: left;
        padding: 0;
    }

    .social-media {
        grid-row: 3;
        grid-column: 1 / 2;
        justify-self: left;
    }

    .btn-four {
        grid-row: 1;
        grid-column: 2 / 3;
        justify-self: right;
    }

    footer .btn-four img {
        margin-right: 0;
    }

    .copyright {
        grid-row: 3;
        grid-column: 2 / 3;
        justify-self: right;
        margin: 1em;
    }
}


@media (min-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: center;
    }

    .header-img {
        background-image: url(../assets/features/desktop/hero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 30.6em;
        justify-self: center;
    }

    .header-story {
        width: 38em;
        height: 30.6em;
        padding-right: 7em;
        padding-left: 7em;
    }

    .header-side {
        top: 15.5em;
    }


    main {
        display: grid;
        grid-template-columns: repeat(3, 24em);
        align-items: center;
        justify-content: space-evenly;
        padding: 4em;
    }

    main div {
        padding: 0 0 2em 0;
    }

    .embed {
        align-self: flex-start;
    }

    article {
        background-image: url(../assets/shared/desktop/bg-beta.jpg);
        background-repeat: no-repeat;
        width: 100%;
        padding: 3em 8% 1em 8%;
        display: grid;
    }

    article h2 {
        width: 10em;
    }

    article .btn-four img {
        margin: 0;
    }

    footer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 3em 8% 1em 8%;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        grid-row: 1 / span 2;
        grid-column: 2 / 3;
        justify-self: flex-start;
        align-self: flex-start;
        text-align: left;
        margin: 0;
    }

    .footer-link li:first-child {
        padding-top: 0;
    }

    .btn-footer {
        grid-row: 1;
        grid-column: 3 / 4;
        align-self: flex-start;
    }

    footer .btn-four img {
        margin-right: 0;
    }

    .copyright {
        grid-row: 2;
        grid-column: 3 / 4;
        margin: 1em;
    }

    .social-media {
        grid-row: 2;
        grid-column: 1 / 2;

    }
}